<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b368e9e5-51ee-425d-8711-ab47b01d965a" Publisher="CN=pkim" Version="1.0.0.9" />
  <Properties>
    <DisplayName>Sigma</DisplayName>
    <PublisherDisplayName>E.I.S.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Element.Reveal.Sigma.App">
      <VisualElements DisplayName="Sigma" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Reveal Sigma" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>