<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5e91a630-8312-4a85-a970-e7965ea50e07" Publisher="CN=pkim" Version="1.0.1.16" />
  <Properties>
    <DisplayName>TrueVue</DisplayName>
    <PublisherDisplayName>E.I.S.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Element.Reveal.TrueVue.App">
      <VisualElements DisplayName="TrueVue" Logo="Assets\ElementLogo Small.png" SmallLogo="Assets\SmallLogo.png" Description="Reveal TrueVue" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\ElementLogo Big.png" BackgroundColor="#1A242C" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>